---
---
<html lang='en'>

{% include head.html %}

<body style="font-size: 14px; margin-bottom: 5px; line-height: 1.3;">
{% include navbar.html %}
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-4">
            {% include information.html %}
        </div>
        <div class="col-lg-9 col-md-8 col-sm-8">
            <div class="panel panel-default">
                <div class="panel-body" style="line-height: 1.5; font-size: 16px;">
                    <p>
                        I am a first year PhD student in the <a href="https://www.cs.umn.edu/">Computer Science Department</a> at the University of Minnesota-Twin Cities.
                        I am currently exploring the field of <a href="https://en.wikipedia.org/wiki/Neuromorphic_engineering">Neuromorphic Computing</a> as a possible topic of research for my PhD thesis. Feel free to drop me a mail if you would like to discuss about anything interesting.</a>
                    </p>
                    <p>
                        I graduated in 2014 with a Bachelors in Computer Science from BITS, Pilani, India.
                    </p>
                    <p>
                        Broadly, my interests are data mining, machine learning, natural language processing, artificial intelligence, neuromorphic computing and high performance computing.

                    </p>
                    <p>I was a part of <a href="http://www.bits-pilani.ac.in/pilani/computerscience/AdvancedDataAnalyticsParallelTechnologiesLaboratory">Advanced Data Analytics and Parallel Technologies Lab</a> at BITS, Pilani, where I
                        worked on parallel and distributed algorithms for data mining.</p>

                </div>
            </div>
            {% include education.html %}
            {% include work_experience.html %}
            {% include publications.html %}
        </div>
    </div>
</div>

{% include footer.html %}

<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="{{ site.baseurl }}/public/js/bootstrap.min.js"></script>
</body>
</html>
