---
---
<html lang='en'>

{% include head.html %}

<body style="font-size: 14px; margin-bottom: 5px; line-height: 1.3;">
{% include navbar.html %}
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-4">
            {% include information.html %}
        </div>
        <div class="col-lg-9 col-md-8 col-sm-8">
            <div class="panel panel-default">
                <div class="panel-body" style="line-height: 1.5; font-size: 16px;">
                    <p>
                        I am currently an assistant professor at IIIT Delhi. In the Past, I was a Post-Doc Researcher at <a href="https://www.microsoft.com/en-us/research/lab/microsoft-research-india/">Microsoft Research</a>. Prior to Post-doc, I completed my PhD under <a href="http://www-users.cs.umn.edu/~chandra/">Prof. Abhishek Chandra</a> in the <a href="https://www.cs.umn.edu/">Computer Science Department</a> at the University of Minnesota-Twin Cities. During my PhD, I also collaborated with <a href="https://people.cs.umass.edu/~ramesh/Site/HOME.html">Prof. Ramesh Sitaraman</a> at University of Massachusetts, Amherst.
                        Broadly, I am interested in Distributed Systems and its application in Data Analytics and Machine Learning.
                    </p>
                    <p>I graduated in 2014 with a Bachelors in Computer Science from BITS-Pilani, India. At BITS-Pilani, I was a part of <a href="http://www.bits-pilani.ac.in/pilani/computerscience/AdvancedDataAnalyticsParallelTechnologiesLaboratory">Advanced Data Analytics and Parallel Technologies Lab</a>, where I
                        worked on parallel and distributed algorithms for data mining.</p>

                </div>
            </div>
            {% include publications.html %}
            {% include education.html %}
            {% include work_experience.html %}
            {% include old_publications.html %}
        </div>
    </div>
</div>

{% include footer.html %}

<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="{{ site.baseurl }}/public/js/bootstrap.min.js"></script>
<script type="text/javascript" id="clustrmaps" src="//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=183&t=tt&d=DPgizjFb45e73WTvBeZrJmXw7AnOsLiBprYoVJHjEL8&co=2d78ad&cmo=3acc3a&cmn=ff5353&ct=ffffff"></script>
</body>
</html>
