<div class="panel panel-default">
    <div class="panel-heading" id="education">
        <h3>Education</h3>
    </div>
    <div class="panel-body" style="padding-top: 5px;">
        <h4><b><a href="http://www.bits-pilani.ac.in">Birla Institute of Technology and Science</a></b>, <i>Pilani, India</i></h4>
        <p><i><b>B.E.(Hons.) in Computer Science</b></i> (August 2010 - May 2014)</p>
        <p><b>CGPA:</b> 9.92/10</p>
        <p><b>Rank 1</b> in Class of 2014 of Computer Science, comprising of 120 students.</p>
        <p><b>Rank 3</b> in Class of 2014 of BITS-Pilani, comprising of 800 students.</p>
    </div>
</div>