<div class="panel panel-default">
    <img src="{{ site.baseurl }}/public/img/avatar_1.JPG" class="img-responsive" style="width: 100%;" alt="Dhruv Kumar">
    <div class="panel-body">

        <h3>Dhruv Kumar</h3>
        <!--<p>-->
            <!--Computer Science Department-->
        <!--</p>-->
        <!--<p>-->
            <!--Stanford University-->
        <!--</p>-->
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <p>
            <b>Email: </b><a href="mailto:gargdhruv36@gmail.com" target="_top">gargdhruv36@gmail.com</a>
        </p>
        <p>
            <a href="https://drive.google.com/file/d/1xOtjXPLuCoD_9rVvIYH-7BLAp3wN17rO/view?usp=sharing" target="_blank"><b>Curriculum Vitae</b></a>
        </p>
        <p>
            <a href="https://www.linkedin.com/in/kudhru" target="_blank"><b>LinkedIn</b></a>
        </p>
        <!--<p>-->
            <!--<a href="https://cn.linkedin.com/in/jiamings" target="_blank"><img src="{{ site.baseurl }}/public/img/icon/linkedin.min.svg" height="24px" width="24px"></a>-->
            <!--<a href="https://github.com/jiamings" target="_blank"><img src="{{ site.baseurl }}/public/img/icon/github.min.svg" height="24px" width="24px"></a>-->
        <!--</p>-->
    </div>
</div>
