<div class="panel panel-default">
    <div class="panel-heading" id="publications">
        <h3>Other Publications</h3><h5></h5>
    </div>
    <div class="panel-body" style="padding-top: 5px;">
        <h4>
            <a href="" target="_blank">
                <b>Hydro-climatic optimized machine learning modeling for water quality assessment of a river based on uncertainty and sensitivity analysis</b>
            </a>
        </h4>
        <p>Srinivas Rallapalli, Ananya Jain,<b>Dhruv Kumar</b></p>
        <p>Under submission in Journal of Cleaner Production, Elsevier, 2021.</p>
        <hr/>
        <h4>
            <a href="https://link.springer.com/article/10.1007/s41060-020-00208-2" target="_blank">
                <b>Grid-R-tree: a data structure for efficient neighborhood and nearest neighbor queries in data mining</b>
            </a>
        </h4>
        <p>Poonam Goyal, Jagat Sesh Challa,<b>Dhruv Kumar</b>, Anuvind Bhat, Navneet Goyal, Sundar Balasubramaniam</p>
        <p>In International Journal of Data Science and Analytics (JDSA), Springer, 2020.</p>
        <hr/>

        <h4>
            <a href="https://www.inderscienceonline.com/doi/pdf/10.1504/IJDATS.2018.090631" target="_blank">
                <b>An Efficient method for Batch Updates in OPTICS Cluster Ordering</b>
            </a>
        </h4>
        <p><b>Dhruv Kumar</b>, Poonam Goyal, Navneet Goyal.</p>
        <p5>In International Journal of Data Analysis Techniques and
            Strategies, 2018.</p5>
        <hr/>
        <h4>
            <a href="https://dl.acm.org/citation.cfm?id=3007773" target="_blank">
                <b>Exact, Fast and Scalable Parallel DBSCAN for Commodity Platforms</b>
            </a>
        </h4>
        <p>Poonam Goyal, Sonal Kumari, Ankit Sood, <b>Dhruv Kumar</b>, Sundar Balasubramaniam, Navneet Goyal</p>
        <p>In International Conference on Distributed Computing and Networking (ICDCN), 2017</p>
        <hr/>
        <h4>
            <a href="http://ieeexplore.ieee.org/document/7828388/" target="_blank">
                <b>A fast, Scalable SLINK Algorithm for Commodity Cluster Computing Exploiting Spatial Locality</b>
            </a>
        </h4>
        <p>Poonam Goyal, Sonal Kumari, Sumit Sharma, <b>Dhruv Kumar</b>, Vivek Kishore, Sundar
            Balasubramaniam, Navneet Goyal.</p>
        <p>In IEEE International Conference on High Performance Computing and Communications (HPCC), 2016.</p>
        <hr/>
        <h4>
            <a href="http://dl.acm.org/citation.cfm?id=2684477" target="_blank">
                <b>Parallelizing OPTICS for Commodity Clusters</b>
            </a>
        </h4>
        <p>Poonam Goyal, Sonal Kumari, <b>Dhruv Kumar</b>, Sundar Balasubramaniam, Navneet Goyal, Saiyedul
            Islam, Jagat Sesh Challa. </p>
        <p>In International Conference on Distributed Computing and Networking (ICDCN), 2015.</p>
        <hr/>
        <h4>
            <a href="http://dl.acm.org/citation.cfm?id=2675763" target="_blank">
                <b>Parallelizing OPTICS for multicore systems</b>
            </a>
        </h4>
        <p>Poonam Goyal, Sonal Kumari, <b>Dhruv Kumar</b>, Sundar Balasubramaniam, Navneet Goyal.</p>
        <p>In ACM India Computing Conference (ACM COMPUTE), 2014.</p>
    </div>
</div>