<div class="panel panel-default">
    <div class="panel-heading" id="publications">
        <h3>Selected Publications</h3>
    </div>
    <div class="panel-body" style="padding-top: 5px;">
        <h4>
            <b>AggNet: Cost-Aware Aggregation Networks for Geo-distributed Streaming Analytics</b>
            <a href="" target="_blank"> [Paper]
            </a>
        </h4>
        <p><b>Dhruv Kumar</b>, Sohaib Ahmad, Abhishek Chandra, Ramesh Sitaraman</p>
        <p>in <a href="http://acm-ieee-sec.org/2021/" target="_blank"><b>ACM/IEEE SEC 2021</b></a>
            <b style="color:red">[Acceptance Rate: 23.7%]</b>
        </p>
        <hr/>
        <h4>

                <b>Accelerated Training via Device Similarity in Federated Learning</b>
            <a href="https://dl.acm.org/doi/10.1145/3434770.3459734" target="_blank"> [Paper]
            </a>
            <a href="https://www.youtube.com/watch?v=2Do6xVpQzbk" target="_blank"> [Video]
            </a>
        </h4>
        <p>Yuanli Wang, Joel Wolfrath, Nikhil Sreekumar, <b>Dhruv Kumar</b>, Abhishek Chandra</p>
        <p>in <a href="https://edge-sys.github.io/2021/" target="_blank"><b>ACM EdgeSys 2021</b></a>
            <!--<b style="color:red">[Acceptance Rate: 18.1%]</b>-->
        </p>
        <hr/>
        <h4>

                <b>Exploiting Data Heterogeneity for Performance and Reliability in Federated Learning</b>
            <a href="https://ieeexplore.ieee.org/document/9355736" target="_blank"> [Poster]
            </a>
        </h4>
        <p>Yuanli Wang, <b>Dhruv Kumar</b>, Abhishek Chandra</p>
        <p>in <a href="http://acm-ieee-sec.org/2020/" target="_blank"><b>ACM/IEEE SEC 2020</b></a>
            <!--<b style="color:red">[Acceptance Rate: 18.1%]</b>-->
        </p>
        <hr/>
        <h4>

                <b>DeCaf: Iterative Collaborative Processing over the Edge</b>
            <a href="https://www.usenix.org/conference/hotedge19/presentation/kumar" target="_blank"> [Paper]
            </a>
        </h4>
        <p><b>Dhruv Kumar</b>, Aravind Alagiri Ramkumar, Rohit Sindhu, Abhishek Chandra</p>
        <p>in <a href="https://www.usenix.org/conference/hotedge19" target="_blank"><b>USENIX HotEdge 2019</b></a>
            <!--<b style="color:red">[Acceptance Rate: 18.1%]</b>-->
        </p>
        <hr/>
        <h4>

                <b>A TTL-based Approach for Data Aggregation in Geo-distributed Streaming Analytics</b>
            <a href="https://dl.acm.org/citation.cfm?doid=3341617.3326144" target="_blank"> [Paper]
            </a>
        </h4>
        <p><b>Dhruv Kumar</b>, Jian Li, Abhishek Chandra and Ramesh Sitaraman</p>
        <p>in <a href="https://www.sigmetrics.org/sigmetrics2019/" target="_blank"><b>ACM SIGMETRICS 2019</b></a> <b style="color:red">[Acceptance Rate: 15.7%]</b></p>
        <hr/>
        <h4>

                <b>TTL-based Approach for Data Aggregation in Geo-Distributed Streaming Analytics</b>
            <a href="https://drive.google.com/open?id=1NvtkQn05QvFCNMhVhlG9BBjGk5RvOAot" target="_blank"> [Poster]
            </a>
        </h4>
        <p><b>Dhruv Kumar</b>, Jian Li, Abhishek Chandra and Ramesh Sitaraman</p>
        <p><b>Poster</b> at <a href="https://www.usenix.org/conference/osdi18/" target="_blank"><b>USENIX OSDI 2018</b></a></p>
        <!--<hr/>-->
    </div>
</div>
