<div class="panel panel-default">
    <div class="panel-heading" id="publications">
        <h3>Publications</h3>
    </div>
    <div class="panel-body" style="padding-top: 5px;">

        <h4>
            <a href="https://www.usenix.org/conference/osdi18/poster-sessions#poster1" target="_blank">
                <b>TTL-based Approach for Data Aggregation in Geo-Distributed Streaming Analytics</b>
            </a>
        </h4>
        <p><b>Dhruv Kumar</b>, Jian Li, Abhishek Chandra and Ramesh Sitaraman.</p>
        <p><b>Poster</b> at 13th USENIX Symposium on Operating Systems Design and Implementation (OSDI), 2018.</p>
        <!--<hr/>-->
    </div>
</div>