<div class="panel panel-default">
    <div class="panel-heading" id="publications">
        <h3>Publications</h3>
    </div>
    <div class="panel-body" style="padding-top: 5px;">
        <h4>

                <b>A TTL-based Approach for Data Aggregation in Geo-distributed Streaming Analytics</b>
            <!--<a href="https://drive.google.com/file/d/105ISPs1ualsUkqUg-OdvncqbSG02t6CU/view?usp=sharing" target="_blank"> [Preprint]-->
            <!--</a>-->
        </h4>
        <p><b>Dhruv Kumar</b>, Jian Li, Abhishek Chandra and Ramesh Sitaraman.</p>
        <p>Accepted to appear in <a href="https://www.sigmetrics.org/sigmetrics2019/" target="_blank"><b>ACM SIGMETRICS 2019</b></a> <b style="color:red">[Acceptance Rate: 18.1%]</b></p>
        <hr/>
        <h4>
            <a href="https://drive.google.com/open?id=1NvtkQn05QvFCNMhVhlG9BBjGk5RvOAot" target="_blank">
                <b>TTL-based Approach for Data Aggregation in Geo-Distributed Streaming Analytics</b>
            </a>
        </h4>
        <p><b>Dhruv Kumar</b>, Jian Li, Abhishek Chandra and Ramesh Sitaraman.</p>
        <p><b>Poster</b> at USENIX OSDI 2018.</p>
        <!--<hr/>-->
    </div>
</div>