<div class="panel panel-default">
    <div class="panel-heading" id="work_experience">
        <h3>Work Experience</h3>
    </div>
    <div class="panel-body" style="padding-top: 5px;">
        <h4><b>Goldman Sachs</b>, <i>Bengaluru, India</i></h4>
        <p>Quantitative Analyst and Software Engineer (November 2014 - April 2016)</p>
        <p>
            <ul>
            <li>Improved the efficiency of risk-management system by suggesting improvements to the SQL
                queries going to Sybase IQ database.</li>
        <li> Assisted in migrating from Sybase IQ database to MemSQL database for faster access.</li>
        <li> Implemented a H2-database based server for allowing real-time updates to the tables residing in
            the servers.</li>
        <li> Learnt about the real life use-cases of databases.</li>
            </ul>
            
        </p>
    </div>
</div>