<div class="panel panel-default">
    <div class="panel-heading" id="work_experience">
        <h3>Work Experience</h3>
    </div>
    <div class="panel-body" style="padding-top: 5px;">
        <h4><b><a href="https://cloud.google.com/">Google Cloud</a></b>, <i>Sunnyvale, California</i></h4>
        <p><i><b>PhD Intern</b></i> (June 2019 - August 2019)</p>
        <p><i><b>Project:</b></i> Learning to prefetch data for disk servers</p>
        <p>
            <ul>
            <li>Identified an efficient strategy for constructing ground truth and proposed a deep neural network
based architecture for predicting the prefetch data.</li>
            <li> Initial evaluation showed an improvement of upto 20% in cache hit rates using the proposed
model over the existing approach.</li>
            </ul>
        </p>
    </div>
    <div class="panel-body" style="padding-top: 5px;">
        <h4><b><a href="http://www.goldmansachs.com">Goldman Sachs</a></b>, <i>Bengaluru, India</i></h4>
        <p><i><b>Quantitative Analyst and Software Engineer</b></i> (November 2014 - April 2016)</p>
        <p>
            <ul>
            <li>Improved the efficiency of risk-management system by suggesting improvements to the SQL
                queries going to Sybase IQ database.</li>
            <li> Assisted in migrating from Sybase IQ database to MemSQL database for faster access.</li>
            <li> Implemented a H2-database based server for allowing real-time updates to the tables residing in
                the servers.</li>
            <li> Learnt about the real life use-cases of databases.</li>
            </ul>
        </p>
    </div>

</div>